ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}
.ripple-parent {
  position: relative;
  overflow: hidden;
}
.main-container{
  display: flex;
  flex-direction: column;
  border:none;
  background: white;
  padding: 0;
  .key-button{
    border-radius: 22%;
    height: 16.5rem;
    padding: 0;
    background: none !important;
    filter: drop-shadow(1px 6px 0px rgba(0, 0, 0, 0.5));
    transition: 0.1s ease-in all;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .key-button:active{
    height: 16rem;
    margin-top: 10px;
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
  }
}
.key-text{
  font-size: 1rem;
  font-weight: bold;
  color: #3f3e3e;
  text-shadow: 0 0 black;
}